@charset "UTF-8";
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --background-color: #ffffff;
  --primary-bg-color: #2196f3;
  --main-font: Roboto;
  --secondary-font: Raleway;
  --default-font: sans-serif;
  --bg-gradient: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4));
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

body {
  font-family: var(--main-font), var(--secondary-font), var(--default-font);
  background-color: var(--background-color);
  color: var(--primary-text-color);
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.link {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

.container {
  margin-right: auto;
  margin-left: auto;
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.logo {
  color: var(--accent-color);
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.logo:hover, .logo:focus {
  color: var(--accent-color);
}

.logo__accent--color-white {
  color: white;
}
.logo__accent--color-white:hover, .logo__accent--color-white:focus {
  color: var(--accent-color);
}

.logo__accent--color-black {
  color: black;
}
.logo__accent--color-black:hover, .logo__accent--color-black:focus {
  color: var(--accent-color);
}

.socials__list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  list-style: none;
  margin-top: 20px;
}

.socials__list--team {
  margin-top: 0;
}

.socials__link {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  width: 44px;
  height: 44px;
  background-color: rgba(255, 255, 255, 0.1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.socials__link:hover, .socials__link:focus {
  background-color: var(--primary-bg-color);
}

.socials__link--color-light {
  background-color: #ffffff;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.socials__link--color-light:hover, .socials__link--color-light:focus {
  background-color: #2196f3;
}

.socials__icon {
  fill: var(--background-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-soc-link:hover .socials__icon, .footer-soc-link:focus .socials__icon {
  fill: var(--background-color);
}

.team__link:hover .socials__icon--color-light, .team__link:focus .socials__icon--color-light {
  fill: #ffffff;
}

.section__title {
  display: block;
  margin-top: 0;
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}
@media screen and (min-width: 1200px) {
  .section__title {
    margin-bottom: 50px;
    font-size: 36px;
    line-height: 1.16;
  }
}

.btn {
  display: inline-block;
  border-radius: 4px;
  padding: 6px 22px;
  min-width: 73px;
  border: 1px solid transparent;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.btn:hover, .btn:focus {
  background-color: var(--accent-color);
  color: var(--background-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.header {
  border-bottom: 1px solid rgba(238, 238, 238, 0.9333333333);
}

.header__container {
  display: flex;
  align-items: center;
}
@media screen and (min-width: 768px) {
  .header__container {
    justify-content: space-around;
  }
}
@media screen and (min-width: 1200px) {
  .header__container {
    display: flex;
    align-items: center;
  }
}

.header__logo {
  padding-top: 16px;
  padding-bottom: 16px;
}
@media screen and (min-width: 768px) {
  .header__logo {
    font-size: 24px;
    line-height: 1.17;
    padding-top: 26px;
    padding-bottom: 26px;
  }
}
@media screen and (min-width: 1200px) {
  .header__logo {
    font-size: 26px;
    line-height: 1.19;
  }
}

/* Navigation*/
.navigation {
  display: flex;
  align-items: center;
  display: none;
}
@media screen and (min-width: 768px) {
  .navigation {
    display: flex;
    align-items: center;
  }
}

.navigation__list {
  display: flex;
  margin-left: 86px;
  padding-right: 0;
  transition-property: color;
}
@media screen and (min-width: 1200px) {
  .navigation__list {
    margin-left: 93px;
  }
}

.navigation__item:not(:last-child) {
  margin-right: 50px;
}
.navigation__item .link.current {
  color: var(--accent-color);
}

.navigation__link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  position: relative;
  bottom: -1px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--title-text-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.navigation__link:hover, .navigation__link:focus {
  color: var(--accent-color);
}
.navigation__link.current::after {
  position: absolute;
  content: " ";
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--accent-color);
  transform: translateY(28px);
}

/* Contacts*/
.contacts {
  display: flex;
  margin-left: auto;
  display: none;
}
@media screen and (min-width: 768px) {
  .contacts {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    justify-content: left;
    align-items: flex-start;
  }
}
@media screen and (min-width: 1200px) {
  .contacts {
    isplay: flex;
    margin-left: auto;
    flex-direction: row;
  }
}

.contacts__icons {
  margin-right: 10px;
  fill: currentColor;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contacts__icons:hover, .contacts__icons:focus {
  fill: var(--accent-color);
}

.contacts__link {
  display: flex;
  margin-bottom: 0;
  align-items: center;
  justify-content: center;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contacts__link:hover, .contacts__link:focus {
  color: var(--accent-color);
}
@media screen and (min-width: 768px) {
  .contacts__link {
    font-size: 12px;
    line-height: 1.17;
  }
}
@media screen and (min-width: 1200px) {
  .contacts__link {
    font-size: 14px;
    line-height: 1.14;
  }
}

@media screen and (min-width: 768px) {
  .contacts__item:not(:last-child) {
    margin-bottom: 10px;
  }
}
@media screen and (min-width: 1200px) {
  .contacts__item + .contacts__item {
    margin-left: 30px;
  }
  .contacts__item:not(:last-child) {
    margin-bottom: 0;
  }
}

/*mobile-menu*/
.mobile__btn {
  margin-left: auto;
  fill: currentColor;
  border: none;
  width: 40px;
  height: 40px;
  margin-bottom: 0;
  background-color: var(--background-color);
  cursor: pointer;
}
@media screen and (min-width: 768px) {
  .mobile__btn {
    display: none;
  }
}

.mobile__menu {
  position: fixed;
  background-color: var(--background-color);
  top: 0;
  left: 0;
  z-index: 1;
  width: 100vw;
  height: 100vh;
  padding-top: 10px;
  padding-bottom: 48px;
}
.mobile__menu > .container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.mobile__close-btn {
  display: block;
  margin-left: auto;
  margin-bottom: 15px;
  width: 40px;
  height: 40px;
  margin-bottom: 0;
  background-color: var(--background-color);
  cursor: pointer;
  border: none;
  fill: var(--title-text-color);
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mobile__close-btn:focus, .mobile__close-btn:hover {
  fill: var(--accent-color);
}

.mobile__menu__navigation {
  margin-left: 25px;
}

.mobile__menu__contacts {
  margin-left: 25px;
}

.mobile__menu__item:not(:last-child) {
  margin-bottom: 32px;
}
.mobile__menu__item:not(:last-child) .link.current {
  color: var(--accent-color);
}

.mobile__menu__link {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.18;
  letter-spacing: 0.02em;
  color: var(--title-text-color);
}

.mobile__menu__mail_link {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: #757575;
}
.mobile__menu__mail_link:not(:last-child) {
  margin-bottom: 32px;
}

.mobile__menu__tel_link {
  font-weight: 500;
  font-size: 34px;
  line-height: 1.18;
  letter-spacing: 0.02em;
  color: #2196f3;
}

.modile__soc-list {
  display: flex;
  margin-left: 25px;
}

.modile__soc-item:not(:last-child) {
  margin-right: 10px;
}
.modile__soc-item:not(:last-child)::after {
  content: "";
  padding-left: 5px;
  padding-right: 5px;
  height: 22px;
  border-right: 1px solid rgba(33, 33, 33, 0.2);
}

.modile__soc-link {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: var(--accent-color);
}

.hero {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  padding: 118px 0;
  text-align: center;
  flex-grow: 1;
  background-image: var(--bg-gradient), url(../images/hero-bg-mob.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero {
    background-image: var(--bg-gradient), url(../images/hero-bg-mob-2x.jpg);
  }
}
@media screen and (min-width: 480px) {
  .hero {
    padding: 118px 60px;
  }
}
@media screen and (min-width: 768px) {
  .hero {
    padding: 118px 204px;
    background-image: var(--bg-gradient), url(../images/hero-bg-tab.jpg);
  }
}
@media screen and (min-width: 768px) and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero {
    background-image: var(--bg-gradient), url(../images/hero-bg-tab-2x.jpg);
  }
}
@media screen and (min-width: 1200px) {
  .hero {
    max-width: 1600px;
    padding: 200px 452px;
    background-image: var(--bg-gradient), url(../images/hero.jpg);
  }
}
@media screen and (min-width: 1200px) and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero {
    background-image: var(--bg-gradient), url(../images/hero-bg-2x.jpg);
  }
}

.hero__btn {
  margin-bottom: 0;
  padding: 10px 24px;
  font-weight: 700;
  color: var(--background-color);
  line-height: 1.88;
  letter-spacing: 0.06em;
  background-color: var(--accent-color);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.hero__btn:hover, .hero__btn:focus {
  background-color: #188ce8;
}
@media screen and (min-width: 1200px) {
  .hero__btn:hover, .hero__btn:focus {
    padding: 10px 32px;
  }
}

.hero__title {
  margin-top: 0;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--background-color);
}
@media screen and (min-width: 480px) {
  .hero__title {
    width: 360px;
  }
}
@media screen and (min-width: 1200px) {
  .hero__title {
    width: 696px;
    font-size: 44px;
    line-height: 1.36;
  }
}

.features {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .features {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.feature__list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.features__item {
  width: 100%;
  gap: 30px;
}
@media screen and (min-width: 768px) {
  .features__item {
    width: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .features__item {
    width: calc((100% - 90px) / 4);
  }
}

.features__text {
  display: flex;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  margin-bottom: 0;
  margin-top: 0;
}
@media screen and (min-width: 768px) {
  .features__text {
    margin: 0;
  }
}

.features__title {
  text-align: center;
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 10px;
  margin-top: 0;
}
@media screen and (min-width: 768px) {
  .features__title {
    text-align: justify;
  }
}

.features__box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #f5f4fa;
  border-radius: 4px;
  width: 100%;
  max-width: 100%;
  height: 120px;
  margin-bottom: 30px;
}

.features__icon {
  width: 70px;
  height: 70px;
}

.works {
  display: none;
  padding-bottom: 94px;
}
@media screen and (min-width: 1200px) {
  .works {
    display: flex;
    padding-bottom: 94px;
  }
}

.works__list {
  display: flex;
}

.works__item {
  position: relative;
  width: 370px;
  height: 294px;
}

.works__box {
  bottom: 0;
  position: absolute;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 70px;
  width: 370px;
  margin: 0;
  background: rgba(47, 48, 58, 0.8);
}

.works__text {
  margin-top: 27px;
  margin-bottom: 27px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}

.works__item + .works__item {
  margin-left: 30px;
}

.team {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #f5f4fa;
}
@media screen and (min-width: 1200px) {
  .team {
    padding: 94px 0;
    background-color: #f5f4fa;
  }
}

.team__list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.team__people {
  width: 100%;
  gap: 30px;
  background-color: var(--background-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}
@media screen and (min-width: 768px) {
  .team__people {
    width: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .team__people {
    width: calc((100% - 90px) / 4);
  }
}

.team__text {
  padding: 30px 0;
}

.team__title {
  margin-bottom: 0;
  margin-top: 0;
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
}

.team__work {
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 16px;
  margin-top: 10px;
}

.team__icon {
  fill: #afb1b8;
}

.clients {
  display: flex;
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .clients {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.clients__companies {
  display: flex;
  justify-content: center;
  list-style: none;
  flex-wrap: wrap;
  gap: 30px;
}

.companies__item {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  width: calc((100% - 30px) / 2);
  height: 92px;
}
@media screen and (min-width: 768px) {
  .companies__item {
    width: calc((100% - 60px) / 3);
  }
}
@media screen and (min-width: 1200px) {
  .companies__item {
    width: calc((100% - 150px) / 6);
  }
}

.companies__link {
  display: flex;
  width: 100%;
  height: 100%;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.companies__link:hover, .companies__link:focus {
  border-color: #2196f3;
}

.companies__icon {
  fill: #afb1b8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.companies__link:hover .companies__icon, .companies__link:focus .companies__icon {
  border-color: #2196f3;
  fill: #2196f3;
}

.footer {
  padding: 60px 0;
  background-color: #2f303a;
}

.footer__container {
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 768px) {
  .footer__container {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: baseline;
    justify-content: space-around;
  }
}
@media screen and (min-width: 768px) and (min-width: 1200px) {
  .footer__container {
    justify-content: space-between;
    align-items: baseline;
    flex-wrap: nowrap;
  }
}

.footer_logo {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  line-height: 1.17;
}
@media screen and (min-width: 1200px) {
  .footer_logo {
    font-size: 26px;
    line-height: 1.19;
  }
}

.footer__base {
  display: flex;
  flex-direction: column;
  margin-bottom: 60px;
  margin: 0;
}
@media screen and (min-width: 1200px) {
  .footer__base {
    align-items: flex-start;
    flex-grow: 1;
  }
}

.adress {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  font-style: normal;
}
@media screen and (min-width: 1200px) {
  .adress {
    display: block;
  }
}

.footer__adress {
  margin-top: 20px;
  margin-bottom: 8px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #ffffff;
}
@media screen and (min-width: 1200px) {
  .footer__adress {
    margin-bottom: 9px;
  }
}

.footer__text {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer__text:hover, .footer__text:focus {
  color: var(--accent-color);
}

.footer__item {
  display: flex; /*новое*/
  align-items: center; /*новое*/
  justify-content: center; /*новое*/
}
.footer__item:not(:last-child) {
  margin-bottom: 8px;
}
@media screen and (min-width: 1200px) {
  .footer__item {
    display: block;
  }
  .footer__item:not(:last-child) {
    margin-bottom: 9px;
  }
}

/*Socials*/
.footer__socials {
  margin-bottom: 60px;
  margin-top: 60px;
  width: auto;
  justify-content: center;
  align-items: center;
}
@media screen and (min-width: 768px) {
  .footer__socials {
    width: calc(50% - 165px);
    margin: 0;
  }
}
@media screen and (min-width: 1200px) {
  .footer__socials {
    margin-right: 93px;
    width: 206px;
  }
}

.socials__title {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  justify-content: center;
  margin-top: 0;
  margin-bottom: 0;
  color: var(--background-color);
}
@media screen and (min-width: 1200px) {
  .socials__title {
    display: block;
  }
}

/*Connect*/
.footer__connect {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media screen and (min-width: 768px) {
  .footer__connect {
    margin-top: 60px;
    width: calc(100% - 318px);
  }
}
@media screen and (min-width: 1200px) {
  .footer__connect {
    align-items: flex-start;
    width: calc(50% - 30px);
    margin-top: 0;
  }
}

.connect__form {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media screen and (min-width: 1200px) {
  .connect__form {
    flex-direction: row;
    width: 100%;
  }
}

.connect__icon {
  position: absolute;
  top: 50%;
  right: 14%;
  transform: translateY(-50%);
  fill: var(--background-color);
}

.connect__text {
  margin-top: 0;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--background-color);
}

.connect__input {
  width: 100%;
  margin-bottom: 20px;
  padding: 0;
  max-width: 450px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background: #2f303a;
  padding-left: 16px;
  outline: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.connect__input:focus {
  border-color: var(--accent-color);
}
.connect__input::-moz-placeholder {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  background-color: transparent;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.connect__input:-ms-input-placeholder {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  background-color: transparent;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.connect__input::placeholder {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  background-color: transparent;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
@media screen and (min-width: 1200px) {
  .connect__input {
    width: 358px;
    margin-bottom: 0;
    margin-right: 12px;
  }
}

.connect__btn {
  position: relative;
  display: flex;
  padding-left: 28px;
  padding-right: 62px;
  align-items: center;
  width: 200px;
  height: 50px;
  background: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  font-weight: 700;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: #ffffff;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.connect__btn:focus, .connect__btn:hover {
  background-color: #188ce8;
}

.backdrop {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  transition: opacity 500ms linear, visibility 500ms;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  width: calc(100% - 30px);
  max-width: 450px;
  height: 100%;
  max-height: 609px;
  background-color: var(--background-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transform: translate(-50%, -60%) scale(1);
  transition: transform 500ms;
}
@media screen and (min-width: 768px) {
  .modal {
    top: 50%;
    left: 50%;
    width: calc(100% - 159px);
    transform: translate(-50%, -50%) scale(1);
  }
}
@media screen and (min-width: 1200px) {
  .modal {
    width: 100%;
    max-width: 528px;
    height: 581px;
    transform: translate(-50%, -50%) scale(1);
  }
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0);
}

.modal-close {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  right: 8px;
  top: 8px;
  width: 30px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background-color: var(--background-color);
  cursor: pointer;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-close:focus, .modal-close:hover {
  fill: var(--accent-color);
}

.modal-title {
  margin-top: 40px;
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.03em;
  width: calc(100% - 80px);
  justify-content: center;
  color: var(--title-text-color);
  margin-left: 40px;
}
@media screen and (min-width: 1200px) {
  .modal-title {
    font-size: 20px;
    line-height: 1.15;
  }
}

.modal-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form-field {
  width: calc(100% - 80px);
}

.form-input {
  width: 100%;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  height: 40px;
  padding-left: 42px;
  outline: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-input:focus {
  border-color: var(--accent-color);
}

.modal-text {
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
  padding: 12px 16px;
  outline: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  letter-spacing: 0.01em;
}
.modal-text::-moz-placeholder {
  color: rgba(117, 117, 117, 0.5);
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
}
.modal-text:-ms-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
}
.modal-text::placeholder {
  color: rgba(117, 117, 117, 0.5);
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
}
.modal-text:focus {
  border-color: var(--accent-color);
}

.input-wrap {
  position: relative;
  margin-bottom: 10px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input-icon {
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
}
.form-input:focus ~ .input-icon {
  fill: var(--accent-color);
}

.input-title {
  display: block;
  margin-bottom: 4px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: #757575;
}

.check-text {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: #757575;
  margin-top: 10px;
  margin-bottom: 10px;
}
@media screen and (min-width: 480px) {
  .check-text {
    margin-top: 20px;
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .check-text {
    font-size: 14px;
    line-height: 1.71;
  }
}

.check-text span {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 16px;
  height: 15px;
  margin-right: 9px;
  border-radius: 1px;
  border: 2px solid #212121;
}
.input-check:checked + .check-text span {
  background-color: var(--accent-color);
  border: none;
}

.input-check {
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.check-icon {
  fill: transparent;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.input-check:checked + .check-text .check-icon {
  fill: var(--background-color);
}

.label-policy {
  margin-left: 5px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  color: var(--accent-color);
}
@media screen and (min-width: 1200px) {
  .label-policy {
    font-size: 14px;
    line-height: 1.71;
  }
}

.modal-btn {
  border-radius: 4px;
  padding: 10px 52px;
  color: var(--background-color);
  background-color: var(--accent-color);
  font-family: inherit;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  cursor: pointer;
  border: 1px solid transparent;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-btn:hover, .modal-btn:focus {
  background-color: #188ce8;
}
@media screen and (min-width: 480px) {
  .modal-btn:hover, .modal-btn:focus {
    margin-bottom: 40px;
  }
}
@media screen and (min-width: 1200px) {
  .modal-btn {
    margin-bottom: 0px;
    margin-right: 164px;
    margin-left: 164px;
  }
}

.section-portfolio {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .section-portfolio {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.filter {
  display: flex;
  justify-content: start;
  align-items: flex-start;
  margin-bottom: 40px;
  gap: 15px 8px;
  flex-wrap: wrap;
  width: 75%;
}
@media screen and (min-width: 768px) {
  .filter {
    width: 100%;
    flex-wrap: nowrap;
    justify-content: center;
    gap: 8px;
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .filter {
    margin-bottom: 50px;
  }
}

.filter-btn .list {
  cursor: pointer;
}

.examples-next {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.examples-title {
  margin-bottom: 4px;
  margin-top: 0;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: #212121;
}

.examples-item {
  width: 100%;
  border: 1px solid #ececec;
}
@media screen and (min-width: 768px) {
  .examples-item {
    width: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .examples-item {
    width: calc((100% - 60px) / 3);
  }
}

.examples-discription {
  margin: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  color: #757575;
}

.portfolio-text {
  padding: 20px 24px;
  flex-grow: 1;
}

.portfolio-wrap {
  position: relative;
  overflow: hidden;
}

.portfolio-card {
  position: absolute;
  top: 0;
  left: 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: #ffffff;
  background: rgba(33, 150, 243, 0.9);
  padding: 0;
  height: 100%;
  margin: 0;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.examples-item:hover .portfolio-card {
  transform: translateY(0);
}
@media screen and (min-width: 480px) {
  .portfolio-card {
    padding: 77px 24px;
  }
}
@media screen and (min-width: 768px) {
  .portfolio-card {
    padding-top: 49px;
  }
}
@media screen and (min-width: 1200px) {
  .portfolio-card {
    padding: 63px 24px;
  }
}

.portfolio-item-link {
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-item-link:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
@media screen and (min-width: 768px) {
  .portfolio-item-link {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
}/*# sourceMappingURL=main.css.map */