.footer {
  padding: 60px 0;
  background-color: #2f303a;
}
.footer__container {
  // display: flex;
  // align-items: baseline;
  display: flex; /*новое*/
  width: 100%; /*новое*/
  flex-direction: column;
  @include tablet {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: baseline;
    justify-content: space-around;
    @include desctop {
      align-items: baseline;
      flex-wrap: nowrap;
    }
  }
}
.footer_logo {
  display: flex; /*новое*/
  justify-content: center; /*новое*/
  align-items: center; /*новое*/
  font-size: 24px;
  line-height: 1.17;
  @include desctop {
    font-size: 26px;
    line-height: 1.19;
  }
}
.footer__base {
  display: flex;
  flex-direction: column;
  margin-bottom: 60px;

  margin: 0;
  @include desctop {
    flex-grow: 1;
    width: 232px;
  }
}
.adress {
  display: flex; /*новое*/
  width: 100%; /*новое*/
  justify-content: center;
  align-items: center;
  font-style: normal;
  @include desctop {
    width: 232px;
    margin-right: 70px;
  }
}

.footer__adress {
  margin-top: 20px;
  // margin-bottom: 9px;
  margin-bottom: 8px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #ffffff;
}

.footer__text {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}
.footer__item {
  display: flex; /*новое*/
  align-items: center; /*новое*/
  justify-content: center; /*новое*/
  &:not(:last-child) {
    margin-bottom: 8px;
  }
}

/*Socials*/
// .socials {
//   width: 206px;
//   height: 80px;
// }
.footer__socials {
  // margin-left: 70px;
  margin-bottom: 60px;
  margin-top: 60px;
  display: block; /*новое*/
  width: auto;
  justify-content: center;
  align-items: center;
  @include tablet {
    width: calc(50% - 165px);
    margin: 0;
  }
  @include desctop {
    width: 206px;
  }
}
.socials__title {
  display: flex; /*новое*/
  justify-content: center; /*новое*/
  align-items: center; /*новое*/
  width: 100%;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  justify-content: center;
  margin-top: 0;
  margin-bottom: 0;
  color: var(--background-color);
}

/*Connect*/
.footer__connect {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  // margin-left: 93px;
  @include tablet {
    margin-top: 60px;
    width: calc(100% - 318px);
  }
  @include desctop {
    width: calc(50% - 30px);
    margin-top: 0;
  }
}
.connect__form {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  @include desctop {
    flex-direction: row;
    width: 100%;
  }
}

.connect__icon {
  position: absolute;
  top: 50%;
  right: 14%;
  transform: translateY(-50%);
  fill: var(--background-color);
}
.connect__text {
  margin-top: 0;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--background-color);
  @include desctop {
  }
}

.connect__input {
  width: 100%;
  margin-bottom: 20px;
  padding: 0;
  // margin-right: 12px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  // width: 358px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background: #2f303a;
  padding-left: 16px;
  outline: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:focus {
    border-color: var(--accent-color);
  }
  &::placeholder {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    background-color: transparent;
    line-height: 1.25;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
  }
  @include desctop {
    width: 358px;
    margin-bottom: 0;
    margin-right: 12px;
  }
}

.connect__btn {
  position: relative;
  display: flex;
  padding-left: 28px;
  padding-right: 62px;
  align-items: center;
  width: 200px;
  height: 50px;
  background: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  font-weight: 700;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: #ffffff;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:focus,
  &:hover {
    background-color: #188ce8;
  }
}
