.header {
  border-bottom: 1px solid #eeee;
}
.header__container {
  display: flex;
  align-items: center;
}

.header__logo {
  padding-top: 24px;
  padding-bottom: 25px;
}

/* Navigation*/
.navigation {
  display: flex;
  align-items: center;
}

.navigation__list {
  display: flex;
  margin-left: 93px;
  padding-right: 0;
  transition-property: color;
}
.navigation__item {
  &:not(:last-child) {
    margin-right: 50px;
  }
  & .link.current {
    color: var(--accent-color);
  }
}
.navigation__link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  position: relative;
  bottom: -1px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--title-text-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    color: var(--accent-color);
  }
  &.current::after {
    position: absolute;
    content: " ";
    display: block;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: var(--accent-color);
    transform: translateY(28px);
  }
}
/* Contacts*/
.contacts {
  display: flex;
  margin-left: auto;
}

.contacts__icons {
  margin-right: 10px;
  fill: currentColor;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    fill: var(--accent-color);
  }
}
.contacts__link {
  display: flex;
  margin-bottom: 0;
  align-items: center;
  justify-content: center;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}
.contacts__item + .contacts__item {
  margin-left: 50px;
}
