.team {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #f5f4fa;
  @include desctop {
    padding: 94px 0;
    background-color: #f5f4fa;
  }
}

.team__list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
.team__people {
  width: 100%;
  gap: 30px;

  background-color: var(--background-color);

  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  @include tablet {
    width: calc((100% - 30px) / 2);
  }
  @include desctop {
    width: calc((100% - 90px) / 4);
  }
}
// .team__people + .team__people {
//   margin-left: 30px;
// }
.team__text {
  padding: 30px 0;
}
.team__title {
  margin-bottom: 0;
  margin-top: 0;
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
}

.team__work {
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 16px;
  margin-top: 10px;
}

.team__icon {
  fill: #afb1b8;
}
