.works {
  padding-bottom: 94px;
}
.works__list {
  display: flex;
}
.works__item {
  position: relative;
  width: 370px;
  height: 294px;
}
.works__box {
  bottom: 0;
  position: absolute;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 70px;
  width: 370px;
  margin: 0;
  background: rgba(47, 48, 58, 0.8);
}
.works__text {
  margin-top: 27px;
  margin-bottom: 27px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}
.works__item + .works__item {
  margin-left: 30px;
}
